.content-top {
	width: 100%;
	background: var(--white-color);
	border-radius: 6px;
	padding: 20px;
	display: flex;
	gap: 50px;
}

.carousel {
	width: 380px;
	height: 420px;
}

@media (max-width: 900px) {
	.content-top {
		flex-direction: column;
		gap: 20px;
	}
	.carousel {
		margin: 0 auto;
		width: 540px;
		height: 590px;
	}
}

@media (max-width: 630px) {
	.carousel {
		width: 340px;
		height: 400px;
	}
}

@media (max-width: 400px) {
	.carousel {
		width: 300px;
		height: 350px;
	}
}
