.nav-wrapper {
	background: var(--white-color);
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.navbar {
	height: 55px;
	display: flex;
	align-items: center;
}

.menu-list {
	display: flex;
	gap: 28px;
}

.menu-item img {
	margin-right: 6px;
}

.menu-item button {
	font-weight: 500;
}

@media (max-width: 600px) {
	.nav-wrapper {
		display: none;
	}
}
