.user-block {
	background: var(--gray-200-color);
	padding: 20px;
}

.user-block img {
	margin-bottom: 10px;
}

.login-buttons {
	display: flex;
	gap: 5px;
}

.login-buttons button {
	font-weight: 400;
	font-size: 16px;
	transition: all 0.3s;
}

.login-buttons button:hover {
	transform: translateY(-3px);
}

.menu,
.info,
.documents {
	padding: 10px;
	border-bottom: 1px solid var(--gray-300-color);
}

.documents {
	border-bottom: none;
}
