.accordion {
	width: 100%;
}

.label {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	user-select: none;
}

.label p {
	font-weight: 600;
}

.label img {
	transition: all 0.2s;
}

.label:hover .arrow-up {
	transform: translateY(-2px);
}

.label:hover .arrow-down {
	transform: translateY(2px);
}
