.content-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	background: var(--white-color);
	border-radius: 6px;
	border: 1px solid var(--gray-400-color);
	padding: 10px;
}

.item-count {
	font-weight: 500;
}

.sort-by {
	border-radius: 6px;
	width: 170px;
	border: 1px solid var(--gray-400-color);
}

.right-side {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.view-type {
	display: flex;
	border-radius: 6px;
	border: 1px solid var(--gray-400-color);
}

.view-type button {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.active {
	background: var(--gray-300-color);
}

.filter-button {
	margin-left: 5px;
	font-size: 18px;
	font-weight: 500px;
	color: var(--primary-color);
}

@media (max-width: 350px) {
	.view-type {
		order: 3;
	}
	.right-side {
		justify-content: space-between;
	}
	.view-type {
		margin-left: auto;
	}
}
