.label {
	width: 100%;
	position: relative;
	user-select: none;
	padding: 8px 10px 8px 30px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.checkbox {
	height: 20px;
	width: 20px;
	border: 2px solid #bdbdbd;
	position: absolute;
	left: 0;
	border-radius: 5px;
}

.label input {
	position: absolute;
	top: 50%;
	height: 0;
	width: 0;
	opacity: 0;
}

.label input[type='checkbox']:checked ~ .checkbox::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 5px;
	top: 3px;
	left: 2px;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	transform: rotate(-45deg);
}

.label input[type='checkbox']:checked ~ .checkbox {
	background: var(--primary-color);
	border-color: var(--primary-color);
}
